* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@media (min-width: 320px) { 
    .buttons {
        text-align: center;
        position: absolute;
        display: block;
        margin: auto;
    }
 }

.main {
    width: 100%;
    height: 100vh;
    background-image: url('./images/quino-al-JFeOy62yjXk-unsplash.jpg');
    background-repeat: no-repeat;
}

.welcome-header {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    
}

.buttons {
    text-align: center;
    position: absolute;
    top: 60%;
    left: 40%;
    padding: 15px;
    background-color: transparent;
}

.log-in {
    margin: 10px;
    color: #fff;
    font-weight: lighter;
    border-color: #fff;
}

.log-in:hover,
.sign-up:hover {
    background-color: #b486b4;
    border-color: #b486b4;
}

.sign-up {
    color: #fff;
    font-weight: lighter;
    border-color: #fff;
    text-decoration: none;
}

.login-btn,
.signup-btn {
    text-decoration: none;
    color: #fff;
}

.login-btn:hover,
.signup-btn:hover {
    color: #fff;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.form-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 380px;
    height: 450px;
    padding: 20px;
    background-color: #121212;
    opacity: 0.8;
    border-radius: 20px;
}

.login-header {
    
}

.user-box {
    margin-bottom: 15px;
}

.user {
    font-size: 110px;
    color: grey;
}

.login-sub {
    margin-top:40px;
    margin-bottom:10px;
    display: block;
    width: 100%;
    cursor: pointer;
    border-radius: 10px;
}

.message{
    display:flex;
    justify-content:space-between
}

.email,
.password {
    font-size: 25px;
}

.remember-me {
    color: lightgrey;
}
